@model ProfileIndexModel
@using Nop.Web.Models.Profile;
@{    
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Profile").Text);
    //page class
    Html.AppendPageCssClassParts("html-profile-page");
}
<div class="page profile-page">
    <div class="page-title panel-heading">
        <h1>@Model.ProfileTitle</h1>
    </div>
    <div class="page-body">
        @{
            var selectPostsTab = Model.ForumsEnabled && Model.PagingPosts ? ".tabs( 'option', 'active', 1 )" : "";
        }
        <ul id="tabs" class="nav nav-tabs">
            <li class="active"><a href="#tabs-1" data-toggle="tab">@T("Profile.PersonalInfo")</a></li>
            @if (Model.ForumsEnabled)
            {
                <li><a href="#tabs-2" data-toggle="tab">@T("Profile.LatestPosts")</a></li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tabs-1">
                @Html.Action("info", new { customerProfileId = Model.CustomerProfileId })
            </div>
            @if (Model.ForumsEnabled)
            {
                <div class="tab-pane" id="tabs-2">
                    @Html.Action("posts", new { customerProfileId = Model.CustomerProfileId, page = Model.PostsPage })
                </div>
            }
        </div>
    </div>
</div>
