@model CustomerInfoModel
@using Nop.Web.Models.Customer;
@using Nop.Core;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Info })
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
<div class="page account-page customer-info-page">
    <div class="page-title panel-heading">
        <h1>@T("Account.MyAccount") - @T("Account.CustomerInfo")</h1>
    </div>
    <fieldset class="page-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            var validationSummary = Html.ValidationSummary(true);
            if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }
            <fieldset>
                <div><h3>@T("Account.YourPersonalDetails")</h3></div>
                <div class="form-fields form-horizontal">
                    @if (Model.GenderEnabled)
                    {
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-sm-2 col-md-2">@T("Account.Fields.Gender")</label>
                            <div class="col-xs-9 col-sm-6 col-md-6">
                                <label class="radio-inline" for="gender-male">
                                    @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
                                    <span class="forcheckbox">@T("Account.Fields.Gender.Male")</span>
                                </label>
                                <label class="radio-inline" for="gender-female">
                                    @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
                                    <span class="forcheckbox">@T("Account.Fields.Gender.Female")</span>
                                </label>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-2 col-md-2 control-label" })
                        <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                        <div class="col-sm-6 col-md-6">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "first-name form-control" })
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, new { @class = "col-sm-2 col-md-2 control-label" })
                        <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                        <div class="col-sm-6 col-md-6">
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>
                    @if (Model.DateOfBirthEnabled)
                    {
                        <div class="form-group">
                            <div class="from-group date-of-birth">
                                <label class="control-label col-xs-12 col-sm-2 col-md-2">@T("Account.Fields.DateOfBirth")</label>
                                <div class="col-xs-12 col-sm-6 col-md-6 date-birth-text">
                                    @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
                                                    Html.FieldNameFor(x => x.DateOfBirthMonth),
                                                    Html.FieldNameFor(x => x.DateOfBirthYear),
                                                    DateTime.Now.Year - 110,
                                                    DateTime.Now.Year,
                                                    Model.DateOfBirthDay,
                                                    Model.DateOfBirthMonth,
                                                    Model.DateOfBirthYear)
                                    @if (Model.DateOfBirthRequired)
                                    {
                                        @Html.RequiredHint()
                                    }
                                    @Html.ValidationMessageFor(model => model.DateOfBirthDay)
                                    @Html.ValidationMessageFor(model => model.DateOfBirthMonth)
                                    @Html.ValidationMessageFor(model => model.DateOfBirthYear)
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "col-sm-2 col-md-2 control-label" })
                        <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                        <div class="col-sm-6 col-md-6">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @if (!String.IsNullOrEmpty(Model.EmailToRevalidate))
                        {
                            <div class="col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
                                @Html.LabelFor(model => model.EmailToRevalidate, new { }, ":")
                                <span class="email-to-revalidate">@Model.EmailToRevalidate</span>
                                <span class="email-to-revalidate-note"><em>@T("Account.Fields.EmailToRevalidate.Note")</em></span>
                            </div>
                        }
                    </div>
                    @if (Model.UsernamesEnabled)
                    {
                        if (Model.AllowUsersToChangeUsernames)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Username, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                                <div class="col-sm-6 col-md-6">
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4 col-md-4 check-availability">
                                    <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                                    @Html.ValidationMessageFor(model => model.Username)
                                    @if (Model.CheckUsernameAvailabilityEnabled)
                                    {
                                        @Html.Partial("_CheckUsernameAvailability")
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Username, new { @class = "col-sm-2 col-md-2 control-label" })
                                <div class="col-sm-6 col-md-6">
                                    <span class="readonly-username">@Model.Username</span>
                                </div>
                            </div>

                        }
                    }
                </div>
            </fieldset>
            if (Model.CompanyEnabled || Model.DisplayVatNumber)
            {
                <fieldset>
                    <div><h3>@T("Account.CompanyDetails")</h3></div>
                    <div class="form-horizontal">
                        @if (Model.CompanyEnabled)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Company, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                                <div class="col-sm-6 col-md-6">
                                    @Html.TextBoxFor(model => model.Company, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.CompanyRequired)
                                        {
                                            <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                                        }
                                    @Html.ValidationMessageFor(model => model.Company)
                                </div>
                            </div>

                        }
                        @if (Model.DisplayVatNumber)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.VatNumber, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="col-sm-6 col-md-6">
                                    @Html.TextBoxFor(model => model.VatNumber, new { @class = "form-control" })@*;@Model.VatNumberStatusNote*@
                                    <span class="help-block"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            }
            if (Model.StreetAddressEnabled ||
                        Model.StreetAddress2Enabled ||
                        Model.ZipPostalCodeEnabled ||
                        Model.CityEnabled ||
                        Model.CountryEnabled)
            {
                <fieldset>
                    <div><h3>@T("Account.YourAddress")</h3></div>
                    <div class="form-horizontal">
                        @if (Model.StreetAddressEnabled)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.StreetAddress, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                                <div class="col-sm-6 col-md-6">
                                    @Html.TextBoxFor(model => model.StreetAddress, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.StreetAddressRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                                    }
                                    @Html.ValidationMessageFor(model => model.StreetAddress)
                                </div>
                            </div>
                        }
                        @if (Model.StreetAddress2Enabled)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.StreetAddress2, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                                <div class="col-sm-6 col-md-6">
                                    @Html.TextBoxFor(model => model.StreetAddress2, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.StreetAddress2Required)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                                    }
                                    @Html.ValidationMessageFor(model => model.StreetAddress2)
                                </div>
                            </div>
                        }
                        @if (Model.ZipPostalCodeEnabled)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.ZipPostalCode, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                                <div class="col-sm-6 col-md-6">
                                    @Html.TextBoxFor(model => model.ZipPostalCode, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.ZipPostalCodeRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                                    }
                                    @Html.ValidationMessageFor(model => model.ZipPostalCode)
                                </div>
                            </div>

                        }
                        @if (Model.CityEnabled)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.City, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                                <div class="col-sm-6 col-md-6">
                                    @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.CityRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                                    }
                                    @Html.ValidationMessageFor(model => model.City)
                                </div>
                            </div>
                        }
                        @if (Model.CountryEnabled)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.CountryId, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                                <div class="col-sm-6 col-md-6">
                                    @Html.DropDownList("CountryId", Model.AvailableCountries, new { @class = "form-control dropdown-toggle category-iteam category-select" })
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.CountryRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                                    }
                                    @Html.ValidationMessageFor(model => model.CountryId)
                                </div>
                            </div>
                        }
                        @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.StateProvinceId, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                                <div class="col-sm-6 col-md-6">
                                    @Html.DropDownList("StateProvinceId", Model.AvailableStates, new { @class = "form-control dropdown-toggle category-iteam" })
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.StateProvinceRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                                    }
                                    @Html.ValidationMessageFor(model => model.StateProvinceId)
                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            }
            if (Model.PhoneEnabled || Model.FaxEnabled)
            {
                <fieldset>
                    <div><h3>@T("Account.YourContactInformation")</h3></div>
                    <div class="form-horizontal">
                        @if (Model.PhoneEnabled)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="visible-xs form-title-rquired">@Html.RequiredHint()</div>
                                <div class="col-sm-6 col-md-6">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.PhoneRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                                    }
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            </div>
                        }
                        @if (Model.FaxEnabled)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Fax, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="visible-xs form-title">@Html.RequiredHint()</div>
                                <div class="controls col-sm-6 col-md-6">
                                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    @if (Model.FaxRequired)
                                    {
                                        <div class="visible-lg visible-md visible-sm form-title-rquired">@Html.RequiredHint()</div>
                                    }
                                    @Html.ValidationMessageFor(model => model.Fax)
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            }
            if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
            {
                <fieldset>
                    <div><h3>@T("Account.Options")</h3></div>
                    <div class="form-horizontal">
                        @if (Model.NewsletterEnabled)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Newsletter, new { @class = "control-label news-letter col-xs-4 col-sm-2 col-md-2" })
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    @Html.EditorFor(model => model.Newsletter)
                                    @Html.ValidationMessageFor(model => model.Newsletter)
                                </div>
                            </div>
                        }
                        @if (Model.CustomerAttributes.Count > 0)
                        {
                            @Html.Partial("_CustomerAttributes", Model.CustomerAttributes)
                        }
                    </div>
                </fieldset>
            }
            if (Model.AllowCustomersToSetTimeZone || Model.SignatureEnabled)
            {
                <fieldset>
                    <div><h3>@T("Account.Preferences")</h3></div>
                    <div class="form-horizontal">
                        @if (Model.AllowCustomersToSetTimeZone)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.TimeZoneId, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="col-sm-6 col-md-6">
                                    @Html.DropDownList("TimeZoneId", Model.AvailableTimeZones, new { @class = "form-control dropdown-toggle category-iteam category-select " })
                                    @Html.ValidationMessageFor(model => model.TimeZoneId)
                                </div>
                            </div>
                        }
                        @if (Model.SignatureEnabled)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Signature, new { @class = "control-label col-sm-2 col-md-2" })
                                <div class="col-sm-6 col-md-6">
                                    @Html.TextAreaFor(model => model.Signature, new { @class = "account-signature-text form-control customer-info-textarea" })
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            }
            if (Model.NumberOfExternalAuthenticationProviders > 0)
            {
                <fieldset>
                    <div><h3>@T("Account.AssociatedExternalAuth")</h3></div>
                    <div>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-12">
                                @if (Model.AssociatedExternalAuthRecords.Count > 0)
                                {
                                    //existing associated external records
                                    <div class="panel panel-default">
                                        <table class="data-table extrnal-table table table-bordered">
                                            <colgroup>
                                                <col />
                                                <col />
                                                <col />
                                                <col />
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th class="a-center auth-method-name">
                                                        @T("Account.AssociatedExternalAuth.AuthMethodName")
                                                    </th>
                                                    <th class="a-center email">
                                                        @T("Account.AssociatedExternalAuth.Email")
                                                    </th>
                                                    <th class="a-center external-id">
                                                        @T("Account.AssociatedExternalAuth.ExternalIdentifier")
                                                    </th>
                                                    <th class="a-center remove">
                                                        @T("Account.AssociatedExternalAuth.Remove")
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.AssociatedExternalAuthRecords)
                                                {
                                                    <tr>
                                                        <td class="a-left auth-method-name">
                                                            @item.AuthMethodName
                                                        </td>
                                                        <td class="a-left email">
                                                            @item.Email
                                                        </td>
                                                        <td class="a-left external-id">
                                                            @CommonHelper.EnsureMaximumLength(item.ExternalIdentifier, 40, "...")
                                                        </td>
                                                        <td class="a-center remove">
                                                            <a href="#" onclick="return removeexternalassociation(@item.Id)">@T("Account.AssociatedExternalAuth.Remove")</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }

                                @if (Model.NumberOfExternalAuthenticationProviders > Model.AssociatedExternalAuthRecords.Count)
                                {
                                    //we can add more external records
                                    <div class="form-fields add-more-external-records">
                                        @T("Account.AssociatedExternalAuth.AddMoreRecords") <a href="@Url.RouteUrl("Login", null, "http")">@Url.RouteUrl("Login", null, "http")</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </fieldset>
            }
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-offset-2 col-md-2 save-btn-mt">
                    <input type="submit" value="@T("Common.Save")" name="save-info-button" class="btn btn-primary save-btn save-customer-info-button" />
                </div>
            </div>

        }
     </fieldset>
</div>
<script type="text/javascript">
    function removeexternalassociation(itemId) {
        if (confirm('@T("Common.AreYouSure")')) {
            var postData = {
                id: itemId
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("RemoveExternalAssociation", "Customer")',
                data: postData,
                dataType: 'json',
                success: function (data) {
                    location.href = data.redirect;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to delete');
                }
            });
        }
        return false;
    }
</script>
