@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title panel-heading">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="alert alert-info">
                @Model.Result
            </div>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="description alert alert-info">@T("Account.PasswordRecovery.Tooltip")</div>
            <div class="form-horizontal" role="form">
              <div class="form-group row">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-3 col-md-2 col-xs-12 password-text" })
                  <div class="col-sm-5 col-md-3 col-xs-12">
                      @Html.TextBoxFor(model => model.Email, new { @class = "email form-control" })
                  </div>
                  <div class="col-sm-3 col-md-4 col-xs-12">
                      @Html.RequiredHint()
                      @Html.ValidationMessageFor(model => model.Email)
                  </div>
              </div>
                <div class="form-group row">
                    <div class="col-sm-offset-3 col-md-offset-2 col-sm-2 col-md-2">
                        <input type="submit" name="send-email" class="btn btn-primary password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />  
                    </div>
                </div>
            </div>
              
        }
    </div>
</div>
