@model HeaderLinksModel
@using Nop.Web.Models.Common;
<div class="header-links header-top-right">
    <ul>
        @Html.Widget("header_links_before")
        @Html.Action("AdminHeaderLinks", "Common")
        @if (Model.IsAuthenticated)
        {
            <li class="my-account"><a href="@Url.RouteUrl("CustomerInfo")"><span><i class="fa fa-user-o" aria-hidden="true"></i>
</span></a></li>
        }
        else
        {
            <li class="register"><a href="@Url.RouteUrl("Register")"><span><i class="fa fa-user-o" aria-hidden="true"></i></span></a></li>
        }
        @*@if (Model.WishlistEnabled)
        {
            <li class="my-wishlist">
                <a href="@Url.RouteUrl("Wishlist")">
                    <span class="wishlist-label"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                </a>
            </li>
        }*@
        @if (Model.AllowPrivateMessages)
        {
            <li>
                <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })">
                    <span class="inbox-label"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                </a>
            </li>
        }
        @if (Model.IsAuthenticated)
        {
            <li class="logout"><a href="@Url.RouteUrl("Logout")"><span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span></a></li>
        }
        else
        {
            <li class="login"><a href="@Url.RouteUrl("Login")"><span><i class="fa fa-lock" aria-hidden="true"></i></span></a></li>
        }
        @*@if (Model.ShoppingCartEnabled)
        {
            <li>
                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            </li>
        }*@
        @Html.Widget("header_links_after")
    </ul>
    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        //new private message notification
        <script type="text/javascript">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))', 'success', false);
            });
        </script>
    }
</div>
