@model EditForumPostModel
@using Nop.Core.Domain.Forums;
@using Nop.Web.Models.Boards;
@{
    //page class
    Html.AppendPageCssClassParts("html-forum-edit-page");
}
@Html.Action("ForumBreadcrumb", new { forumTopicId = Model.ForumTopicId })
<div class="page forum-edit-page">
    <div class="page-title panel-heading">
        @if (Model.IsEdit)
        {
            <h1>@T("Forum.EditPost")</h1>
        }
        else
        {
            <h1>@T("Forum.NewPost")</h1>
        }
    </div>
    <div class="page-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            var validationSummary = Html.ValidationSummary(true);
            if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ForumTopicId)

            <div class="form-fields form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label class="forum-subject-title control-label col-xs-2 col-sm-4 col-md-4">@T("Forum.ForumName"):</label>
                        <div class="col-xs-10 col-sm-5 col-md-5">
                            <strong class="forum-subject-name">@Model.ForumName</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label topic-title-text col-xs-2 col-sm-4 col-md-4">@T("Forum.TopicTitle"):</label>
                        <span class="col-xs-10 col-sm-5 col-md-5">@Model.ForumTopicSubject</span>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-md-offset-4 col-sm-5 col-md-5">
                            @if (Model.ForumEditor == EditorType.BBCodeEditor)
                            {
                                @Html.BBCodeEditor("Text");
                            }
                            @Html.TextAreaFor(model => model.Text, new { @class = "forum-post-text form-control", TextMode = "MultiLine" })
                            @Html.ValidationMessageFor(model => model.Text)
                        </div>
                    </div>
                    @if (Model.IsCustomerAllowedToSubscribe)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4 topic-title-text option-checkbox">@T("Options"):</label>
                            <div class="col-sm-8 col-md-5">
                                <label class="checkbox options-checkbox">
                                    @Html.EditorFor(model => model.Subscribed)
                                    <span>@T("Forum.NotifyWhenSomeonePostsInThisTopic")</span>
                                </label>
                            </div>
                        </div>
                    }
                    <div class="form-group form-submit">
                        <div class="col-sm-offset-4 col-md-offset-4 col-sm-8 col-md-8 submit-option">
                            <input type="submit" value="@T("Forum.Submit")" class="btn btn-primary submit-post-button" />
                            <input type="button" class="btn btn-default cancel-post-button" value="@T("Forum.Cancel")" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName })    ')" />
                        </div>
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
